* {
    margin: 0;
    padding: 0;
}
:root {
    --barColor: #b2c3ff;
    --sortedColor: #4ec64e;
    --comparisionColor: #ffff4f;
    --swapColor: #ed4646;
    --minIndexSelectionSort: #4747ad;
    --pivotColorQuickSort: #ad4750;
}

body, button {
    font-family: 'Poppins', sans-serif;
}

input, button {
    outline: none;
}
button {
    cursor: pointer;
}

/* range slider */
.slider {
    -webkit-appearance: none;
    height: 10px;
    width: 100px;
    background: #d3d3d3;
    opacity: 0.7;
    border-radius: 12px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--barColor);
    cursor: pointer;
    border-radius: 50%;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--barColor);
    cursor: pointer;
    border-radius: 50%;
}


.bar_container {
    height: 685px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
}

.bar_container2 {
    display: flex;
    flex-direction: column;
    height: 547px;
    margin: 10px 0;
}

/* number bar */
.number-bar {
    margin: 0.4px 0; 
    height: 130px;
    text-align: right;
    background: var(--barColor);
    font-size: 8px;
    flex: 1;
}

/* number markings */
.mark-num-style {
    flex: 1;
    text-align: right;
    border-bottom: 1px #000 solid;
    border-right: 1px #000 solid;
    font-size: 10px;
}