* {
    margin: 0;
    padding: 0;
}
:root {
    /* array */
    --barColor: #8F8D8D;
    --sortedColor: #369327;
    --comparisionColor: #AB9D1F;
    --swapColor: #B12727;
    --minIndexSelectionSort: #4747ad;
    --pivotColorQuickSort: #ad4750;
    /* array */

    /* linked list node */
    --nodeColor: #23747F;
    --currentNode: #f73232;
    --visitedNode: #1b941b;
    --pendingNode: #a4a44d;
    --newnode: #ff7600;
    --headNode: #17005e;
    /* linked list node */

    /* linked list code */
    --marginLeftCode: 20px;
    --currentCodeLine: #0f0f0fbd;
    /* linked list code */

    /* language keyoword color */
    --keyword: #b93aff;
    --keyword2: #ff9800;
    --variable: #eb3c3c;
    --comment: #6e6e6e;
    --pointer: #229722;
    --className: #d98f33;
    /* language keyword color */
    
    --sliderThumb: #597CFA;
    --backgroundColor: #313131;

    /* path-finding nodes */
    --normalNode: #948e8e;
    --startNode: #313131;
    --destNode: #B12727;
    --wallNode: #ffb4b4;
    --visitedGraphNode: #4a7e85;
    --shortestPath: #241b4a;
}

html {
    background: var(--backgroundColor);
    color: #fff;
}
body, button {
    font-family: 'Poppins', sans-serif;
}
input, button {
    outline: none;
}
button {
    cursor: pointer;
    color: #fff;
    user-select: none;
}
code {
    user-select: none;
}
a {
    text-decoration: none;
}

/* home page */
.home-page {
    width: 80%;
    margin: 30px auto;
}
.home-page a {
    color: #fff;
    outline: none;
}
.home-page a span {
    display: inline-block;
    margin-bottom: 15px;
}
.home-page img {
    box-shadow: 0 0 1px #eee;
    width: 100%;
}

/* methods */
.methods-container {
    position: fixed;
    left: 20px;
    top: 10px;
    z-index: 10000;
    display: flex;
}
.methods-container button {
    background: none;   
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
}
.methods-container a {
    display: block;
    font-size: 15px;
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #fff;
    background: #4b4b4b;
}

/* range slider */
.slider {
    -webkit-appearance: none;
    height: 10px;
    width: 100px;
    background: #D5D5D5;
    opacity: 0.7;
    border-radius: 12px;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--sliderThumb);
    cursor: pointer;
    border-radius: 50%;
}
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: var(--sliderThumb);
    cursor: pointer;
    border-radius: 50%;
}

.slider:disabled {
    cursor: initial;
    opacity: 0.2;
}

/* SORTING COMPONENT CSS */
.bar_container {
    height: 685px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
}

.bar_container2 {
    display: flex;
    flex-direction: column;
    height: 547px;
    margin: 10px 0;
}

/* number bar */
.number-bar {
    margin: 0.4px 0; 
    height: 130px;
    text-align: right;
    background: var(--barColor);
    font-size: 8px;
    flex: 1;
}

/* number markings */
.mark-num-style {
    flex: 1;
    text-align: right;
    border-bottom: 1px #fff solid;
    border-right: 1px #fff solid;
    font-size: 10px;
}


/* LINKED LIST COMPONENT DESIGN */
.linked-list-node-container {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}
.linked-list-node {
    position: relative;
    flex: 1;
    text-align: center;
    padding: 10px 0;
    background: var(--nodeColor);
    display: flex;
    user-select: none;
}
.linked-list-node .data,
.linked-list-node .next {
    flex: 1;
}
.linked-list-node .next-img,
.linked-list-node .next-img-f {
    position: absolute;
    width: 28px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
}
.linked-list-node .next-img-f {
    left: -23px;
}
.linked-list-node.newnode {
    background: var(--newnode);
}

/* code boxes */
code p {
    font-size: 15px;
    padding: 5px 0;
    padding-left: calc(var(--i) * var(--marginLeftCode));
}
code p.active {
    background-color: var(--currentCodeLine);
}
code span[attr="keyword"] {
    color: var(--keyword);
}
code span[attr="variable"] {
    color: var(--variable);
} 
code span[attr="comment"] {
    color: var(--comment);
    font-style: italic;
}
code span[attr="keyword2"] {
    color: var(--keyword2);
}
code span[attr="pointer"] {
    color: var(--pointer);
}
code span[attr="className"] {
    color: var(--className);
}


.controlBtnContainer {
    text-align: center;
    margin-top: 20px ;
}
.controlBtnContainer button {
    margin: 0 10px;
    color: #000;
    background: white;
    border: none;
    padding: 10px;
}
.controlBtnContainer button:disabled {
    opacity: 0.2;
}
button:disabled {
    cursor: initial;
}

/* Path Finding */
.path-finding-nodes-container {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
}
.legend {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
.path-finding-nodes-container .node {
    user-select: none;
    padding: 15px 10px;
    border: 0.5px solid #fff;
    background: var(--normalNode);
}
.path-finding-nodes-container .node.start-node {
    background: var(--startNode);
}
.path-finding-nodes-container .node.end-node {
    background: var(--destNode);
}
.path-finding-nodes-container .node.wall-node {
    background: var(--wallNode);
    transition: background 0.2s ease;
}

.header-path-finding {
    padding: 10px 0 30px;
}
.header-path-finding button {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
    background: none;
}

.header-path-finding button:disabled {
    opacity: 0.5;
}

.path-finding-nodes-container .node.visited-node {
    animation: visitedAnimation 1.5s ease-out forwards;
    animation-play-state: running;
}
@keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: #0f0f0fbd;
      border-radius: 100%;
    }
  
    50% {
      background-color: #4f77ac;
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background: var(--visitedGraphNode);
    }
}

.path-finding-nodes-container .node.node-shortest-path {
    animation: shortestPath 1.5s ease-out alternate forwards;
    animation-play-state: running;
}

@keyframes shortestPath {
    0% {
        transform: scale(0.6);
        background: var(--shortestPath);
    }

    50% {
        transform: scale(1.2);
        background: var(--shortestPath);
    }

    100% {
        transform: scale(1);
        background: var(--shortestPath);
    }
}
